.f-spinner {
  --spinner-size: 24px;
  height: var(--spinner-size);
  width: var(--spinner-size);
  border-radius: 50%;
  border: calc(var(--spinner-size) / 8) solid var(--f-blue-100);
  border-top-color: var(--f-honkgreen-600);
  position: relative;
  animation: f-spin-rotate 0.75s infinite linear;
}
@keyframes f-spin-rotate {
  to { transform: rotate(359deg); }
}
